* {
    margin: 0;
    padding: 0;
}

body, html{
    margin: 0 !important;
    padding: none;
    background-color: lightslategray;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
}
